<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ .Name }} -  Details</title>
    <link rel="stylesheet" type="text/css" href="/resources/style.css">
    <style>
      p {
        max-width: 70%;
      }
    </style>
    <link rel="icon" href="/resources/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main><center>
      <header>
        <div>
          <br>
          <label><a class="button button-bigger" href="/">Return To Mainpage</a></label>
        </div>
      </header>
      <br>
      <h1>Details for <a href="/app/{{ .Name }}">{{ .Name }} {{ .Version }}</a></h1>
      <br>

      <!-- We only create the table if we have a screenshot -->
      {{ if .MainScreenshot.Val }}
      <table><tr>
        <td align="right">
          <figure>
            <img src="/screenshots/{{ .MainScreenshot.Val }}">
            <figcaption>{{ .MainScreenshot.Key }}</figcaption>
          </figure>
        </td>

        <td>
      {{ end }}
          <p>Tags:
            {{ range .Tags }}
              <a href="/search?tags={{ . }}" >#{{ . }}</a>
            {{ end }}
          </p>
          <p>Rating: <span id="tooltiphalf" class="tooltip">{{ if (eq .Useability 1)}}1 star{{ end }}{{ if (eq .Useability 2)}}2 stars{{ end }}{{ if (eq .Useability 3)}}3 stars{{ end }}{{ if (eq .Useability 4)}}4 stars{{ end }}{{ if (eq .Useability 5)}}5 stars{{ end }}<span id="tooltipforcewidth" class="tooltiptext">1 star = Broken<br>2 stars = Major functionality issues and/or frequent hangs/crashes<br>3 stars = Minor functionality issues and/or infrequent hangs/crashes<br>4 stars = Fully functional (though some visual or auditory glitches may still occur)<br>5 stars = Perfect<br></span></span>
          </p>
          <p>Tested with ReactOS {{ .RosVersion }}</p>
          <p>Downloads: <br>
            {{ range .Downloads }}
              <a target="_blank" rel="noopener" href="{{ .Val }}">{{ .Key }}</a>
              <br>
            {{ end }}
          </p>
      {{ if .MainScreenshot.Val }}
        </td>
      </tr></table>
      {{ end }}

      <h3>Program Details</h3>
      <p>{{ .ProgramDetails }}</p>
      <br>


      {{ if .KnownIssues }}
        <h3>Known issues</h3>
        <p>{{ .KnownIssues }}</p>
        <br>
      {{ end }}

      {{ if .Screenshots }}
        <h3>Photo gallery</h3>
        <!-- fixme needs some resizing probably-->
        {{ range .Screenshots }}
          <label><img src="/screenshots/{{ .Val }}" alt="{{ .Key }}"></label>
        {{ end }}
      {{ end }}

    </center></main>
  </body>
</html>
